body {
  background-color: lavender;
}

.toolTip,
.circularToolTip {
  margin-top: 20px;
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: deepskyblue;
  width: 200px;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.circularToolTip {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  background-color: darkorange;
}

.toolTip:after {
  position: absolute; 
  top:  35%;
  left: 100%;
  border: 10px solid;
  content: "";
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: deepskyblue;
}

.circularToolTip:after {
  position: absolute; 
  top:  45%;
  left: 97%;
  border: 20px solid;
  content: "";
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: darkorange;
}